[build]
builder = "dockerfile"
dockerfilePath = "docker/Dockerfile.backend"

[deploy]
numReplicas = 1
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
